@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#kor_font {
    font-family: MaplestoryOTFBold;
    /* font-size: 1.2em; */
}


@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,600&display=swap');

#En_font {
    font-family: 'Source Serif 4', serif;
    font-weight:300;
}

