{% extends "base.html" %}

{% block content %}

<h1>이 페이지는 main 페이지!!!</h1>
<small>
    base.html를 상속받은 상태!!!
</small>

<div style="background-color: azure; padding: 50px;">
    <h3> html파일 위에서 파이썬 리스트-딕셔너리가 동작하는지 확인 시 URL창에/users/name 입력!!! </h3>
    <br>
    <h3> html파일 위에서 파이썬 제어문이 동작하는지 확인 시 URL창에 /control_flow/name 입력!!! </h3>
    <br>
    <h3> html파일 위에서 파이썬 제어문 사용 예시 확인 시 URL창에 /control_flow2/name 입력!!! </h3>
    <br>
    <h3>main페이지와 연결된 하위 페이지로 넘어가기 위해선 URL창에 /extend_filer/name 입력!!! </h3>
    <small>
        base.html를 상속받은 상태!!!, 파이썬 플라스크 extend 상속, filter 기능 확인 가능.
    </small>
</div>

{% endblock %}